<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib" version="1.7.0.0" targetFramework="net461" />
  <package id="GoogleMaps.LocationServices" version="1.2.0.1" targetFramework="net461" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WPF" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="16.4.0.42" targetFramework="net461" />
  <package id="XmpCore" version="5.1.3" targetFramework="net461" />
  <package id="XmpCore.StrongName" version="5.1.3" targetFramework="net461" />
</packages>